# 6. Working with Dictionaries
* A dictionary in Python is a collection of key-value pairs. 
* Each key is connected to a value, and you can use a key to access the value associated with that key.
* A keyâ€™s value can be a number, a string, a list, or even another dictionary.

* `Key` is the unique identifier to find data and the `value` is the data

* A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

* Unlike strings, lists, and tuples, **dictionaries are not sequences** - the data are not stored in order. 
* List can be represented by [ ], Tuple can be represented by ( ), Dictionary  can be represented by { }

In [1]:
data={}
type(data)

dict

In [2]:
data1=dict()
type(data1)

dict

In [5]:
#States are Key and Capital are value 
data ={'Alabama':'Montgomery',
      'Arizona' :'Pheonix',
      'Georgia' : 'Atlanta',
      'Kentucky': 'Frankfort',
      'Ohio' : 'Columbus'}

In [6]:
print(data)
type(data)

{'Alabama': 'Mongomery', 'Arizona': 'Pheonix', 'Georgia': 'Atlanta', 'Kentucky': 'Frankfort', 'Ohio': 'Columbus'}

dict

### Access `values` from a dictionary using key
* Key and values can be any data types
* Accessing key value not present in dictionary generated KeyError

In [7]:
data['Alabama']

'Mongomery'

In [8]:
data['Ohio']

'Columbus'

In [9]:
#data['Louisiana']

### Update elements of a dictionary and add new elements

In [11]:
day={1:'Monday',
     2:'Tuesday',
     4: ('Thursday','Friday'),
     5: ['Saturday','Holiday']}

In [12]:
day[1]

'Monday'

In [13]:
day[4]

('Thursday', 'Friday')

In [14]:
day[5]

['Saturday', 'Holiday']

### `get` and `update` methods

In [16]:
data ={'Alabama':'Montgomery',
      'Arizona' :'Pheonix',
      'Georgia' : 'Atlanta',
      'Kentucky': 'Frankfort',
      'Ohio' : 'Columbus'}

In [17]:
data.get('Alabama')

'Montgomery'

In [18]:
data.get('Louisiana') #Not generating error

In [20]:
data.update({'Kentucky':'Louisville','Louisiana' : 'Baton Rouge'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Columbus',
 'Louisiana': 'Baton Rouge'}

### Delete dictionary items using `del` and `pop`

In [23]:
data ={'Alabama':'Montgomery',
      'Arizona' :'Pheonix',
      'Georgia' : 'Atlanta',
      'Kentucky': 'Frankfort',
      'Ohio' : 'Columbus'}

In [24]:
del data['Alabama' ]
data

{'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Columbus'}

In [25]:
data.pop('Ohio')
data

{'Arizona': 'Pheonix', 'Georgia': 'Atlanta', 'Kentucky': 'Frankfort'}

In [27]:
data.pop('Kentucky')

'Frankfort'

In [28]:
data

{'Arizona': 'Pheonix', 'Georgia': 'Atlanta'}

### Number of elements in the dictionary and extracting `keys()`, `values()`, `items()`

In [29]:
data

{'Arizona': 'Pheonix', 'Georgia': 'Atlanta'}

In [30]:
len(data)

2

In [31]:
data.keys()

dict_keys(['Arizona', 'Georgia'])

In [32]:
data.values()

dict_values(['Pheonix', 'Atlanta'])

In [33]:
data.items()

dict_items([('Arizona', 'Pheonix'), ('Georgia', 'Atlanta')])

### Loop through a dictionary

In [35]:
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Saturday', 'Holiday']}

In [36]:
for key in day.keys():
    print(key)

1
2
4
5

In [37]:
for value in day.values():
    print(value)

Monday
Tuesday
('Thursday', 'Friday')
['Saturday', 'Holiday']

In [40]:
for key,value in day.items():
    print(type(key),type(value))

<class 'int'> <class 'str'>
<class 'int'> <class 'str'>
<class 'int'> <class 'tuple'>
<class 'int'> <class 'list'>

### Convert dictionary to lists using `list()` function

In [41]:
data

{'Arizona': 'Pheonix', 'Georgia': 'Atlanta'}

In [44]:
state=list(data.keys())
state

['Arizona', 'Georgia']

In [45]:
capitol=tuple(data.values())
print(capitol)

('Pheonix', 'Atlanta')